<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Default image</title>

  <style>
    @import url('https://fonts.cdnfonts.com/css/aller');
    :root {
      --main-bg-color: rgb(15, 5, 30);
      --global-width: 1440px;
      --global-height: 732px;
    }

    body {
      width: var(--global-width);
      height: var(--global-height);
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    main {
      width: var(--global-width);
      height: var(--global-height);
      background-image: linear-gradient(138deg, rgba(237,28,36,0.3) 0%, rgba(0,0,32,0.3) 100%), url('<%= image %>');
      background-color: var(--main-bg-color);
      background-size: cover;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    img {
      position: relative;
    }

    #stripes {
      position: absolute;
      top: 0;
      left: 0;
    }

    #avatar {
      height: 7.5em;
      margin-bottom: 1em;
      margin-left: 75px;
    }

    #logo {
      height: 6em;
      margin-bottom: 1em;
      margin-right: 65px;
    }

    .overlay-text-wrapper {
      margin-left: <%= marginLeft %>;
      width: <%= widthLimit %>;
      margin-top: <%= marginTop %>;
      height: 60%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      overflow-wrap: break-word;
    }

    .overlay-text {
      font-size: <%= fontSize %>;
      font-family: 'Aller Display';
      text-transform: uppercase;
    }
  </style>
</head>
<body>
  <main>
    <div class="overlay-text-wrapper">
      <span class="overlay-text"><%= title _%></span>
    </div>
    <img id="stripes" src="https://raw.githubusercontent.com/khaosdoctor/article-cover-creator/00cdb60d145da4517f3fb1bd461f5c1a3d4d878d/src/templates/img/stripes.png" />
    <img id="avatar" src="https://raw.githubusercontent.com/khaosdoctor/article-cover-creator/00cdb60d145da4517f3fb1bd461f5c1a3d4d878d/src/templates/img/avatar.png" />
    <img id="logo" src="https://raw.githubusercontent.com/khaosdoctor/article-cover-creator/00cdb60d145da4517f3fb1bd461f5c1a3d4d878d/src/templates/img/logo.png" />
  </main>
  <% if (autoFit) { %>
  <script>
    // Fit text library minified to make it work with the template engine
    !function(){var n=function(n,t,e){n.addEventListener?n.addEventListener(t,e,!1):n.attachEvent("on"+t,e)},t=function(n,t){for(var e in t)t.hasOwnProperty(e)&&(n[e]=t[e]);return n};window.fitText=function(e,i,o){var r=t({minFontSize:-1/0,maxFontSize:1/0},o),a=function(t){var e=i||1,o=function(){t.style.fontSize=Math.max(Math.min(t.clientWidth/(10*e),parseFloat(r.maxFontSize)),parseFloat(r.minFontSize))+"px"};o(),n(window,"resize",o),n(window,"orientationchange",o)};if(e.length)for(var f=0;f<e.length;f++)a(e[f]);else a(e);return e}}();

    const textLength = document.querySelector('.overlay-text').textContent.trim().length

    const CHARS_PER_ROW = 21 // Max amount of characters per line row
    const MAX_ROW = 4 // Max number of rows before hidding text
    /**
     * This is the breakpoint where the text will start to reduce size
     * The number was empirically calculated by using large texts
     * I discovered that with 45 characters the text will start to break so the compressor needs to be increased
     */
    const CHARACTER_BREAKPOINT = 45
    /**
     * This is the minimum compressor level, anything below this would make the text too big
     */
    const MINIMUM_COMPRESSOR = 0.9
    /**
     * This is some magic math to calculate the compressor number
     * The idea is to increase the compressor number by 0.1 for each 10 characters
     * starting from 0.1 as the minimum amount
     * based on empirical tests with different texts
     */
    const addition = (Math.abs(CHARACTER_BREAKPOINT - textLength) % 10 / 10) + 0.1
    let compressorNumber = MINIMUM_COMPRESSOR

    // There's a second breakpoint where the addition logic doesn't make sense, this starts happening after the 55th character
    // In this case we need to increase the addition to make it look better
    if (textLength >= CHARACTER_BREAKPOINT+10) compressorNumber = MINIMUM_COMPRESSOR + addition + 0.2
    else if (textLength >= CHARACTER_BREAKPOINT) compressorNumber = MINIMUM_COMPRESSOR + addition
    fitText(document.querySelector('.overlay-text'), compressorNumber);
  </script>
  <% } %>
</body>
</html>
