<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Default image</title>

  <style>
    @font-face {
      font-family: 'Aller';
      src: url(./fonts/AllerDisplay.ttf);
    }
    :root {
      --main-bg-color: rgb(15, 5, 30);
      --global-width: 1440px;
      --global-height: 732px;
    }

    body {
      width: var(--global-width);
      height: var(--global-height);
      overflow: hidden;
      margin: 0;
      padding: 0;
    }

    main {
      width: var(--global-width);
      height: var(--global-height);
      background-image: linear-gradient(138deg, rgba(237,28,36,0.3) 0%, rgba(0,0,32,0.3) 100%), url('<%= backgroundImage %>');
      background-color: var(--main-bg-color);
      background-size: cover;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    img {
      position: relative;
    }

    #stripes {
      position: absolute;
      top: 0;
      left: 0;
    }

    #avatar {
      height: 7.5em;
      margin-bottom: 1em;
      margin-left: 75px;
    }

    #logo {
      height: 6em;
      margin-bottom: 1em;
      margin-right: 65px;
    }

    .overlay-text {
      font-family: 'Aller';
      font-size: <% if (fontSize) { %><%= fontSize %><% } else { %>86pt<% } %>;
      margin-left: <% if (textMarginLeft) { %><%= textMarginLeft %><% } else { %>75px<% } %>;
      width: <% if (textWidthLimit) { %><%= textWidthLimit %><% } else { %>65%<% } %>;
      margin-top: <% if (textMarginTop) { %><%= textMarginTop %><% } else { %>85px<% } %>;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>
</head>
<body>
  <main>
    <span class="overlay-text">
      <%_ titleText _%>
    </span>
    <img id="stripes" src="./img/stripes.png" />
    <img id="avatar" src="./img/avatar.png" />
    <img id="logo" src="./img/logo.png" />
  </main>
</body>
</html>
